
.container{
    display: block;
    width: 1280px;
}

.navigaition {
    display: block;
    list-style-type: none;
    margin:0px auto;
    overflow: hidden;
    height: 78px;
    background: white;
    font-size: 16px;
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4000000953674316px;
    text-align: center;
    ;
    justify-content: center;
    text-align: center;
    padding-left: 0;
    font-weight: bold;
    }

.item {
    float: none;
    display: inline-block;
    margin-top:25px; 
    margin-right: 72px;
}
.pre-last{
    margin-right: 50px
}
.last{
    margin-right: 0px;
}

.item > a {
    float: left;
    color: #FF0000;
    text-decoration: none;
}

.content{
    display: block;
    background: #f5f6f7;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
    margin-bottom: 42px;

}
.content-img{
    width: 1280px;
    height: 790px;
    margin-bottom: 50px;
}

.content-title{
    margin-bottom: 38px;
    font-size: 22px;
    text-align: center;
}

.content-text-part-1, .content-text-part-2{
    width: 1059px;
    margin:2px auto;
    font-family: Roboto-Black;
    font-size: 16px;
    font-weight: bold;
}
.content-text-part-1{
    margin-bottom: 20px;
}
.content-text{
    margin-bottom: 66px;
}

.btn{
    align-self: center;
    background: #FF0000;
    color: #ffffff;
    font-size: 12px;
    width: 191px;
    height: 51px;
    border-radius: 4px;
}

.rights{
    display: block;
    height: 108px;
    float: right;
    margin-right: 105px;
    font-weight: bold; 
    padding-bottom: 29px;
   }

   .rights-text{
    font-size: 16px;
    font-weight: bold;
   }

