.container {
    width: 1750px;
    height: 1920px;
    font-size: 12px;
    font-family:Arial,sans-serif;
}
.article-name{
margin-top: 68px;
margin-bottom: 30px;
}
.plot, .influence{
    margin-top: 20px;
    margin-bottom: 20px;
}
.discr {
font-style:italic;
}

.btn{
    width: 230px;
    height: 20px;
}
