/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

*
{box-sizing: border-box;}

.container{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 1480px;
    height: 1280px;

}

.page{
    width: 1280px;
    font-family: Roboto, sans-serif;
}

.logo{
    width: 335px;
    height: 79px;
    text-align: left;
    font-size: 80px;
    margin-bottom: 38px;
}

.logo-main{
    text-decoration: none;
    color: #4bcaff;
}
.logo-black{
    color: black;
}

.top-menu {
    margin: 0;
    display: inline-block;
    background: #35444f;
    margin-bottom: 50px;
    width: 1280px;
    height: 70px;
}

.top-menu-items {
    display: inline-block;
    list-style-type: none;
    height:68px;
    margin:0;
    border-right: 1px solid #FFFFFF;
}

.top-menu-item{
   
    display: inline-block;
    position: relative;
    text-align: center; 
    border-right: 1px solid #FFFFFF;
    height:68px;
    font-size: 24px;
    font-family: Roboto,sans-serif
    
}
.one{
    width: 160px;
}
.two{
    width: 330px;
}
.three{
    width: 150px;
}
.four{
    width: 286px;
}
.five{
    width: 337px;
    border-right: none;
    text-align: left; 
    padding-left: 40px;
}


.top-menu-item:hover{
    background: #222f3a;
}

.menu-link{
    display: inline-block;
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 24px;
    top: 30%;  
   
}
.subject{
    display: flex;
    width: 1278px;
}
.left-side-menu{
    display: inline-block;
    vertical-align: top;
    border: 1px black solid;
    width: 344px;
    font-size: 19px;
    font-family: Roboto,sans-serif;
    color: #6d7982;
    margin-right:53px;
    margin-block-start:0;
}

.left-side-menu ul{
    margin: auto;
    padding-inline-start: 0;
}

.left-side-menu ul li{
     height: 80px ;
     padding:26px 0 26px 26px;
     display: block;
 }

.left-side-menu ul li:hover{
    background: #dbdbdb;
    padding-left: 69px;
    margin-top: 1px;
}

.left-side-menu ul li a{
    text-decoration: none;
    color: #859097;
}

.left-side-menu ul li:hover a{
    color: black;
    text-decoration: underline;
}


.content {
    display: inline-block;
    vertical-align: bottom;
    width: 880px;
    margin-right:auto;
    background: none;

}

.image-container{
    width: 885px;
    height: 529px;
    border: 1px black solid;
    padding: auto;
    display:table-cell;
    vertical-align:middle;
    text-align:center;

}

.image {
    width: 320px;
    height: 381px;
    background: none;
    transition: transform 1s;
}

.image:hover{
    transform: scale(1.2);
}


.text-content{
    display: inline-block;
    font-family: Roboto,sans-serif;
    vertical-align: top;
    margin: 50px 30px;
    font-size: 18px;
}

.down-menu {
    width: 1280px;
    display: inline-block;
    font-size: 24px;
    background: #b4b7ba;
    height: 69px;
}

.footer-menu {
    display: inline-block;
    margin-left: auto;

}
.footer-menu ul{
    list-style-type: none;
    margin:auto;
    justify-content: center;
    text-align: center;
}

.footer-menu ul li{
    padding:21px 5px;
    display: inline-block;
}

.footer-menu ul li a{
    color: #0c1927;
    text-decoration: none;
}

.footer-menu ul li:hover a{
    color: #3181a6;
    text-decoration: underline;
}


.copyright-text{
    font-family: Roboto,sans-serif;
    margin-left: 250px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}