.btn-container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color:rgb(19, 175, 236);
    flex-direction: column;
    align-items: flex-end;
    // z-index: 27;
   


    .start-btn{
        display: flex;
        width: 150px;
        height: 30px;
        background-color:rgb(216, 226, 230);
        font-size:14px;
        border: 2px solid;
        border-radius:5px;
        margin-right: 30px;
        justify-content: center;
        padding: 0 10px;
        margin-top:50px;
        z-index: 27;
    }
}


