.modal-container{
    // position: relative;
    position: absolute;
    bottom:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 25;

}
.modal-window {
    // position: absolute;
    position: relative;
    height:250px;
    width:520px;
    color: white;
    border-radius:5px;
    display: flex;
    flex-direction:column ;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom:20px;
    margin-bottom: 20px;
// форматирование модального окна
    // position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    // -webkit-overflow-scrolling: touch;
    flex-flow: column nowrap;
    z-index: 50;
    /* Чтобы окно не прилипало к границе
    браузера установим отступы */
    /* Заготовка для будущих анимаций */
    overflow: visible;
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    transform: scale(0.9);
    // opacity: 0;

}
.modal-header{
    display: flex;
    height:70px;
    width: 100%;
    font-size: 20px;
    border-radius:5px;
    font-family: AdobeInvisFont,sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom:30px;
}
.modal-title{
    display: flex;
    margin-left:80px;
    color:white;
}
.modal-close{
    display: flex;
    margin-left:90px;
   
    width:20px;
    height:20px;
    color:white;
}
.modal-body{
    display: inline;
    color:white;
    font-size: 15px;
    margin-bottom:35px;
    padding: 0 40px;
}
.modal-btn{
 display: inline-block;
 margin: auto;
}
.ok-btn,.no-btn{
    margin-right: 10px;
    width:100px;
    height:35px; 
    border-radius:4px; 
    color:white;
}