.main{
    height: 900px;
    width: 1900px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    height: 90px;
    width: 350px;
    border: 3px black solid;
    padding-left: 5px;
    padding-top:10px;
    /*background:lightgrey;*/
    border-radius: 3px;

}

.forms{
    display: block;
    margin: auto;

}
#price{
    height: 30px;
    width: 200px;
    border: 2px darkgrey solid ;
    border-radius: 5px;
    outline:none
}
.category{
    font-weight: bold;
    font-size: 20px;

}