
.container{
    display: flex;
    width: 100%;
    height: 770px;
    background: url("../images/background.png"),no-repeat;
    margin: 0;
    background-size: 100%;
    justify-content: center;
    flex-flow:wrap;
    border-radius: 5px;
}
.header {
    flex-direction: row;
    display:flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    height: 56px;
    width: 100%;
    opacity: 0.45;
    filter: alpha(opacity=45);
    background :black;
    flex-flow:wrap;
    align-items: center;

}


.header-text-1{
    display:flex;
    width: 710px;
    height: 15px;
    font-family: 'Ubuntu', sans-serif;;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-left: 91px;
    margin-top:16px;

}
.header-text-1:hover{
    color:#3cb878;
    transition: 1s;
}
.icons{
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 25px;
    /* margin-top :18px; */
    align-items: center;
    
}
.icon-calendar{
    margin: auto;
    background: url("../images/calendar.svg ");
    width: 21px;
    height: 24px;
}
.icon-envelope{
    margin: auto;
    background: url("../images/envelope.svg");
    width: 23px;
    height: 23px;
}
.icon-compass{
    margin: auto;
    background: url("../images/compass.svg ");
    width: 23px;
    height: 23px;
}
.icon-calendar:hover{
    background: url("../images/calendar-hover.svg");
    transition: 1s;
}
.icon-envelope:hover {
    background: url("../images/envelope-hover.svg");
    transition: 1s;
}
.icon-compass:hover{
    background: url("../images/compass-hover.svg");
    transition: 1s;
}

.hello-header{
    width: 328px;
    height: 56px;
    display: flex;
}

.header-text-2, .header-text-3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-align: left;
    margin-right: 5px;
    padding-top: 4px;

}
.header-text-2{
    border-left: 3px #828282 solid;
    padding-left: 35px;
}


.link-1,.link-2{
    font-family: 'Ubuntu', sans-serif;;
    font-size: 14px;
    color:#ffff;
    text-decoration: none;
    margin-right: 5px;
    padding-top: 19px;
}

.link-1:hover,.link-2:hover{
    text-decoration:none;
    color: #3CB878;
    transition: 1s;

}

.form {
    display: flex;
    flex-direction: row;
    flex-flow:wrap;
    justify-content: start;
    height: 584px;
    width: 444px;
    background: #ffffff;
    flex-flow: wrap;
    overflow: hidden;
    border-radius: 8px;
    align-content: flex-start;

}
.square{
    width: 18px;
    height: 18px;
    background: #3cb878;
    margin-top: 19px;
    margin-right: 42px;

}
.form-text-1{
    font-family: 'Ubuntu', sans-serif;;
    font-size: 20px;
    color: #828282;
    text-align: center;
    height: 19px;
    width:77px;
    margin-top: 19px;
    margin-right: 205px;
    margin-bottom: 0;
}
.form-text-2 {
    font-family: 'Ubuntu', sans-serif;;
    font-size: 14px;
    color: #49bd81;
    width: 43px;
    height:13px;
    margin-top: 21px;
    margin-right: 50px;
    text-decoration: none;
}
.form-text-2:hover {
    color:#01813F;
    text-decoration: underline;
    transition: 1s;
}

.button-1{
    display: block;
    height: 46px;
    width: 157px;
    background: #305db8;
    font-family: 'Ubuntu', sans-serif;;
    font-size: 16px;
    color: #ffffff;
    margin-left:62px;
    margin-right: 8px;
    margin-top: 15px;
    margin-bottom:25px;
    justify-content: center;
    border-radius: 5px;
    border:1px #305db8 solid;
}
.button-1:hover{
    background: #022263;
    transition: 1s;
}
.button-2:hover{
    background: #AB1F09;
    transition: 1s;
}

.button-2{
    height: 46px;
    width: 157px;
    background: #df4a32;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 25px;
    border-radius: 5px;
    border:1px #df4a32 solid;
}
.img-1{
    align-self: center;
    border-right: 2px #2b54a5 solid;
    padding-right: 15px;
    margin-right: 20px;

}
.img-2{
    align-self: center;
    border-right: 2px #c8422d solid;
    padding-right: 15px;
    margin-right: 20px;
}

.line-1{
    height: 1px;
    width: 135px;
    border: 0.2px #eaeaea solid;
    background: #eaeaea;
    margin-left:62px;
    margin-right:22px;
}
.content{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #cecece;
    text-align: center;
    height:8px;
    width: 15px;
    margin-right:22px;
    margin-top: 10px;

}
.line-2{
    height: 1px;
    width: 135px;
    border: 0.2px #eaeaea solid;
    background: #eaeaea;
}

.first-name{
    height: 46px;
    width: 322px;
    margin-left: 62px;
    margin-bottom: 17px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    border:1px #eaeaea solid;
    text-align: left;
    border-radius: 3px;
}
.first-name:focus,.last-name:focus, .email:focus, .password-1:focus, .password-2:focus {
    color: #757575;
    outline: none;
    padding-left: 19px;
    box-shadow: 2px 2px 5px #828282 ;
    border-radius: 2px;
}

.last-name, .email, .password-1 {
    height: 46px;
    width: 322px;
    margin-left: 62px;
    margin-bottom: 9px;
    font-family: 'Ubuntu',sans-serif;
    font-size: 14px;
    text-align: left;
    border:1px #eaeaea solid;
    border-radius: 3px;
}
.first-name::placeholder,.last-name::placeholder, .email::placeholder, .password-1::placeholder, .password-2::placeholder {
    color: #e1e1e1;
    padding-left: 19px;

}
.password-2{
    height: 46px;
    width: 322px;
    margin-left: 62px;
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;;
    font-size: 14px;
    text-align: left;
    border:1px #eaeaea solid;
    border-radius: 3px;
    margin-right: 50px;
}
.agreement {
    margin-left: 62px;
    margin-bottom: 22px;
    font-family: 'Ubuntu', sans-serif;;
    font-size: 14px;
    color: #434343;
    display: none;
}
.text{
    display: none;
}

.link-3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #8ad4ae;
    margin-left: 7px;
    text-decoration:none;
    display: none;
    }

.link-4 {
    font-family: 'Ubuntu', sans-serif;;
    font-size: 14px;
    color: #8ad4ae;
    margin-left: 7px;
    text-decoration:none;}
.link-4:hover{
    text-decoration: underline;
    color:#01813F;
    transition: 1s;
}
.button-3{
    height: 46px;
    width:  322px;
    background-color: #3cb878;
    font-family: 'Ubuntu', sans-serif;
    font-size:16px;
    color: #ffffff;
    border:1px #3cb878 solid;
    border-radius: 3px;
    margin-left: 62px;
}
.button-3:hover{
    background-color: #01813F;
    transition: 1s;
}
.pseudocheckbox::before {
    content: "\00A0" ;
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    margin-right: 6px;
    vertical-align: baseline;
    text-align: center;
    line-height: 16px;
    font-weight: bold;
    margin-left: 62px;
    margin-bottom: 22px;
    font-family: 'Ubuntu',sans-serif;
    font-size: 14px;
    color: #434343;
}
.registration-data input[type=checkbox]:checked + .pseudocheckbox::before {
    background: url("../images/checkbox.png") no-repeat}

/* Код для смены темы */
    .changeBtn{ 
        display: flex;
        height: 30px;
        align-items: center;
        border-radius: 5px;
        border: 3px#fff solid;
        font-weight: bold;
        font-size: 18px;
        color: tan;
        background-color:#2b54a5;
        opacity: 0,5;
    } 

    body.other-theme .container{
        background: lightskyblue
    }
    body.other-theme .square{
        background: dimgrey
    }
    body.other-theme .button-3{
        background: dimgrey;
        border:1px dimgray solid;
    }
